hr{
    height: 15px;
    background-color: rgb(23, 24, 24);
}
.main{
height: 500px;
width: 500px;
}
#first{
    float: left;
    width: 250px;
    background-color: blue;
    height: 300px;
}
#second{
    
    float: right;
    width: 250px;
    height: 300px;
    background-color: coral;
}
.parent{
    height: 200px;
    position: static;


    
}
.child1{
    background-color: beige;
height: 120px;
width: 250px;
}
.parent1{
    height: 400px;
    

}
.child2{
    position: relative;
  top: 20px;

}
img{
    height: 250px;

}
#pah{
    position: relative;
    left: 90px;
}

.flex1{
    display:flex;
    flex-direction: row;
}
.flexi{
    padding:0 10px;
    border: 1px solid #ccc;
    margin: 5px
}
.none1{
    display: none;
}

